.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: 'Fredoka One';
  color: orange;
}

.body {
  background-color: darkred;
}

.game-title {
  display: flex;
  align-items: center;
  font-family: 'Fredoka One';
  font-size: 50px;
  color: orange;
  padding: 30px;
}

.flexbox-fox {
  display: flex;
  width: 100%;
}

.console-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 50%;
  font-size: 20px;
}

.fox-area {
  padding: 20px;
  width: 50%;
  background-color: green;
  position: relative;
}

.commands-list {
  list-style: disc;
  padding-left: 20px;
  padding-bottom: 20px;
}

.command-title {
  color: white;
  margin: 2px;
}

.input-console {
  padding: 20px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border: 1px solid orange;
  margin: 20px;
  color: darkred;
}

.css-input {
  width: 50%;
  background-color: darkred;
  color: orange;
  padding: 5px;
}

.submit-button {
  background-color: orange;
  color: darkred;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  width: 20%;
  cursor: pointer;
}

.fox {
  height: 120px;
  width: 120px;
  margin: 20px;
  z-index: 10;
  animation-name: grow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.den {
  height: 120px;
  width: 180px;
  margin: 20px;
}

.den-area {
  padding: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@keyframes grow {
  0% {width: 120px;
        height: 120px;}
  50% {width: 130px;
      height: 130px;}
  100% {width: 120px;
        height: 120px;}
}
